<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="propertyConfigurer" 
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:server.properties</value>
            </list>
        </property>
    </bean>

    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${fileupload.maxFileSize}"/>
    </bean>

    <bean id="vrlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
    </bean>

    <bean id="vrlSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="vrlDataSource"/>
        <property name="mappingResources">
            <list>
                <value>vrljob.hbm.xml</value>
                <value>vrlseries.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>hibernate.dialect=org.hibernate.dialect.MySQLMyISAMDialect</value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="vrlSessionFactory"/>
    </bean>

    <bean id="vrlJobDao" class="org.auscope.vrl.VRLJobDao">
        <property name="sessionFactory" ref="vrlSessionFactory"/>
    </bean>

    <bean id="vrlSeriesDao" class="org.auscope.vrl.VRLSeriesDao">
        <property name="sessionFactory" ref="vrlSessionFactory"/>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    </bean>

    <bean id="vrlJobManager" class="org.auscope.vrl.VRLJobManager">
        <property name="VRLJobDao" ref="vrlJobDao"/>
        <property name="VRLSeriesDao" ref="vrlSeriesDao"/>
    </bean>
</beans>

